# Generate Greek Training / Validation Dataset

## Combination of Greek Words

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import csv
import random
from collections import Counter

from sklearn.model_selection import train_test_split

In [2]:
def check_dataset_char_in_dict(corpus):

    lst = []

    corpus_string = ''.join(str(x) for x in corpus)
    for letter in corpus_string:
        lst.append(letter)

    wordCount = dict(Counter(lst))

    return set(dictionary[0].append(pd.Series([' ']))) - set(list(wordCount.keys())), wordCount

def check_text_len_dist(corpus):
    text_len = corpus.astype(str).str.len()
    lenCount = dict(Counter(text_len))
    
    return lenCount

def sort_dict(input_dict):
    return {k: v for k, v in sorted(input_dict.items(), key=lambda item: item[1])}

In [7]:
greek_corpus = pd.read_csv('greek.wordlist', sep="\t", header=None, quoting=csv.QUOTE_NONE)
eng_corpus = pd.read_csv('eng.wordlist', sep="\t", header=None, quoting=csv.QUOTE_NONE)
dictionary = pd.read_csv('greek_dict.txt', sep="\t", header=None, quoting=csv.QUOTE_NONE)

In [8]:
char_dict = dictionary.iloc[:124]
symbol_dict = dictionary.iloc[124:]
symbol_dict = symbol_dict.reset_index(drop=True)

In [9]:
greek_corpus

                  0
0               και
1                να
2                το
3               του
4               την
...             ...
143955    ΚΑΚΟΗΘΟΥΣ
143956    ΗΛΙΑΧΤΙΔΑ
143957   ΠΡΕΣΒΕΥΕΙΣ
143958     ΕΦΑΜΙΛΛΗ
143959  ΜΕΓΕΘΥΝΤΙΚΟ

[143960 rows x 1 columns]

In [10]:
eng_corpus

                  0
0               the
1                of
2               and
3                to
4                 a
...             ...
439145     Cycling:
439146  variation).
439147     people.'
439148       Minhtu
439149      Gaming?

[439150 rows x 1 columns]

In [11]:
dictionary

     0
0    Α
1    Β
2    Γ
3    Δ
4    Ε
..  ..
161  +
162  ,
163  -
164  .
165  /

[166 rows x 1 columns]

In [12]:
char_dict

     0
0    Α
1    Β
2    Γ
3    Δ
4    Ε
..  ..
119  V
120  W
121  X
122  Y
123  Z

[124 rows x 1 columns]

In [13]:
symbol_dict

,0
0,0
1,1
2,2
3,3
4,4
5,5
6,6
7,7
8,8
9,9
10,:
11,;
12,<
13,=
14,>
15,?
16,@
17,[
18,\
19,]
20,^
21,_
22,`
23,{
24,|
25,}
26,~
27,!
28,""""
29,#
30,$
31,%
32,&
33,'
34,(
35,)
36,*
37,+
38,","
39,-
40,.
41,/

## Data Cleansing for Greek Dataset

In [14]:
dict_list = list(dictionary[0])

remove_list = []

for i, txt in enumerate(greek_corpus[0]):
    try:
        if len(txt) > 25:
            remove_list.append(i)
        else:
            for j in txt:
                if j in dict_list:
                    pass
                else:
                    remove_list.append(i)
                    continue
    except:
        remove_list.append(i)

In [15]:
greek_corpus_avalible = greek_corpus.drop(index=remove_list)
greek_corpus_avalible = greek_corpus_avalible.reset_index(drop=True)
greek_corpus_avalible

                  0
0               και
1                να
2                το
3               του
4               την
...             ...
143826    ΚΑΚΟΗΘΟΥΣ
143827    ΗΛΙΑΧΤΙΔΑ
143828   ΠΡΕΣΒΕΥΕΙΣ
143829     ΕΦΑΜΙΛΛΗ
143830  ΜΕΓΕΘΥΝΤΙΚΟ

[143831 rows x 1 columns]

In [16]:
greek_train, greek_valid = train_test_split(greek_corpus_avalible, train_size=0.8)
greek_train = greek_train.reset_index(drop=True)
greek_valid = greek_valid.reset_index(drop=True)

In [17]:
greek_train, greek_valid

(                    0
 0       προσομοιώσεις
 1            ΣΛΑΒΙΚΩΝ
 2            κόκκινης
 3              ΣΗΚΩΣΕ
 4              ΧΑΡΤΕΣ
 ...               ...
 115059         βουτιά
 115060       τεραστία
 115061  εξαφανίστηκαν
 115062           βίδα
 115063     ΕΥΑΙΣΘΗΤΗΣ

 [115064 rows x 1 columns],
                    0
 0          ΑΝΑΛΥΣΕΩΝ
 1         ΚΑΤΑΣΤΡΟΦΗ
 2              ΞΕΥΡΩ
 3      ευρεσιτεχνίες
 4          πασιφανές
 ...              ...
 28762      ΑΡΣΑΚΕΙΟΥ
 28763   βαρβαρότητας
 28764    αποθεματικά
 28765    ΚΑΤΑΒΑΛΟΥΜΕ
 28766   ΠΑΡΑΓΩΓΙΚΟΥΣ

 [28767 rows x 1 columns])

## Data Cleansing for English Dataset

In [18]:
dict_list = list(dictionary[0])

remove_list = []

for i, txt in enumerate(eng_corpus[0]):
    try:
        if len(txt) > 25:
            remove_list.append(i)
        else:
            for j in txt:
                if j in dict_list:
                    pass
                else:
                    remove_list.append(i)
                    continue
    except:
        remove_list.append(i)

In [19]:
eng_corpus_avalible = eng_corpus.drop(index=remove_list)
eng_corpus_avalible = eng_corpus_avalible.reset_index(drop=True)
eng_corpus_avalible

                  0
0               the
1                of
2               and
3                to
4                 a
...             ...
399651     Cycling:
399652  variation).
399653     people.'
399654       Minhtu
399655      Gaming?

[399656 rows x 1 columns]

In [20]:
eng_train, eng_valid = train_test_split(eng_corpus_avalible, train_size=0.8)
eng_train = eng_train.reset_index(drop=True)
eng_valid = eng_valid.reset_index(drop=True)

In [21]:
eng_train, eng_valid

(              0
 0          BAD!
 1        dentin
 2        LADDER
 3       about?"
 4       indeed!
 ...         ...
 319719  Toffler
 319720    [Ltd.
 319721      wt.
 319722     Meda
 319723   Topic]

 [319724 rows x 1 columns],
                    0
 0               sods
 1              Kale,
 2              rage,
 3            Majeure
 4             (knee)
 ...              ...
 79927   Enterprise's
 79928      epidemic.
 79929        Mascots
 79930     Subscribe!
 79931  TechnicalUser

 [79932 rows x 1 columns])

In [26]:
dataset_summary = pd.DataFrame(
    {
        "Dataset": ["Greek", "English", "Total"],
        "Training Dataset": [greek_train.shape[0], eng_train.shape[0], greek_train.shape[0] + eng_train.shape[0]],
        "Validation Dataset": [greek_valid.shape[0], eng_valid.shape[0], greek_valid.shape[0] + eng_valid.shape[0]],
    }
)
dataset_summary

   Dataset  Training Dataset  Validation Dataset
0    Greek            115064               28767
1  English            319724               79932
2    Total            434788              108699

# Generate Combined Text

In [23]:
def dataset_generation(n_sample, greek_text, eng_text, output_txt, print_only=False):
    
    with open(output_txt, 'w') as z:

        for i in range(n_sample):
            
            text = ''
            
            # token length between 2 - 5
            
            n_token = random.randint(2, 5)
            
            for i in range(n_token):
                
                # whether symbol will add to token or not with 0.5 prob
                
                symbol = random.randint(0,1)
                
                # whether greek will be chosen or not with 0.7 prob
                
                lang_select = random.random()
                
                if lang_select > 0.3:
                    append_text = greek_text.iloc[random.randint(0,len(greek_text)-1)][0]
                else:
                    append_text = eng_text.iloc[random.randint(0,len(eng_text)-1)][0]
                
                if symbol:
                    append_symbol = symbol_dict.iloc[random.randint(0,len(symbol_dict)-1)][0]
                    
                    # the symbol will be added to the front or to the end of the token
                    
                    sym_loc_head = random.randint(0,1)
                    
                    if sym_loc_head:
                        append_text = append_symbol + append_text

                if i == 0:
                    text = append_text
                else:
                    text = append_text + ' ' + text
                
            # Pick the random length of token as subset
                
            text_len = random.randint(1, min(24,len(text)))
            string = text[0:text_len]
            
            if_add_dict_char = random.randint(0,1)
            
            # Add dictionay char to dataset in order to make all char inside
            
            if if_add_dict_char:
            
                add_dict_char_loc = random.randint(0,1)

                add_dict_char = dictionary.iloc[random.randint(0,len(dictionary)-1)][0]

                if add_dict_char_loc:
                    append_text = add_dict_char + string
                else:
                    append_text = string + add_dict_char
                    
            else:
                append_text = string
                
            append_text = append_text[0:min(25, len(text))]
                            
            if not print_only:
                z.write(append_text)
                z.write('\n')
            else:
                print(append_text)
                
        for j in greek_text[0]:
            z.write(j)
            z.write('\n')

        for k in eng_text[0]:
            z.write(k)
            z.write('\n')

## Training Dataset

In [30]:
dataset_generation(training_aug_size, greek_train, eng_train, 'train_corpus.txt', print_only=False)

In [31]:
train_whole_corpus = pd.read_csv('train_corpus.txt', sep="\t", header=None, quoting=csv.QUOTE_NONE)[0]
train_check_char_in_dict, train_wordCount = check_dataset_char_in_dict(train_whole_corpus)

Check characters are not in the corpus

In [32]:
train_check_char_in_dict

set()

Word count distribution

In [33]:
sort_dict(train_wordCount)

{'Ή': 1053,
 'Έ': 1066,
 'Ώ': 1068,
 'Ί': 1079,
 'ΰ': 1080,
 'ϰ': 1081,
 'Ά': 1110,
 'ϐ': 1112,
 'ϱ': 1118,
 'Ό': 1126,
 'ϑ': 1141,
 'ϋ': 1178,
 'Ύ': 1195,
 'Ϋ': 1219,
 'Ϊ': 1953,
 'ϊ': 1968,
 'Q': 3301,
 'Z': 3591,
 'X': 3815,
 '3': 4802,
 '9': 4852,
 '8': 4865,
 '4': 4867,
 '7': 4886,
 '^': 4897,
 '6': 4899,
 '`': 4936,
 '%': 4936,
 '0': 4939,
 '5': 4944,
 '}': 4945,
 '1': 4957,
 '2': 4982,
 '~': 4985,
 '#': 5135,
 '\\': 5222,
 '$': 5245,
 '@': 5272,
 'q': 5280,
 '{': 5333,
 '+': 5355,
 '=': 5420,
 '&': 5458,
 '<': 5675,
 'ψ': 5763,
 '_': 5932,
 '*': 5943,
 '>': 5970,
 'Ψ': 6005,
 '|': 6049,
 'j': 6217,
 'Y': 6532,
 'J': 7029,
 ']': 7063,
 '[': 7606,
 '/': 9867,
 ';': 9969,
 '?': 10108,
 'V': 10614,
 'z': 10842,
 '!': 10863,
 'K': 11169,
 'ζ': 11528,
 'Ζ': 11636,
 'x': 11880,
 'U': 11960,
 'Ξ': 13023,
 'ξ': 13170,
 'W': 13324,
 'ώ': 15223,
 '"': 15281,
 'F': 17706,
 "'": 17976,
 'G': 18203,
 'H': 19321,
 ')': 20402,
 ':': 20572,
 'β': 20692,
 'Β': 20714,
 'ή': 21171,
 '(': 21377,
 'O': 23633,
 'ύ': 24096,
 'χ': 24927,
 'L': 24930,
 'Φ': 25000,
 'Χ': 25009,
 'Θ': 25118,
 'θ': 25125,
 'N': 25466,
 'φ': 25752,
 'B': 25755,
 'D': 25890,
 'w': 26101,
 '-': 27870,
 'ω': 28478,
 'I': 28579,
 'ό': 28827,
 'P': 29626,
 'v': 30531,
 'M': 30816,
 'k': 31723,
 'έ': 31888,
 'R': 32033,
 'T': 32198,
 'f': 34285,
 'E': 35135,
 'ί': 37165,
 'γ': 38605,
 'Γ': 38984,
 'Δ': 39774,
 'δ': 39862,
 'ά': 40060,
 'C': 40473,
 'Ω': 42222,
 'A': 42972,
 'ς': 43353,
 'b': 43857,
 'y': 47316,
 'S': 49572,
 'η': 51485,
 '.': 59715,
 ',': 61534,
 'υ': 62865,
 'Λ': 63103,
 'λ': 63309,
 'g': 64494,
 'p': 68151,
 'h': 68544,
 'Η': 71178,
 'Μ': 72410,
 'μ': 73480,
 'm': 78134,
 'π': 81323,
 'Π': 82021,
 'Κ': 83946,
 'κ': 84847,
 'Υ': 86230,
 'u': 89901,
 'd': 90881,
 'σ': 94970,
 'Ρ': 102440,
 'ρ': 102717,
 'c': 104453,
 'ν': 107016,
 'Ν': 107206,
 'Τ': 113554,
 'τ': 114640,
 'ι': 127323,
 'Σ': 137133,
 'ο': 137677,
 'ε': 140091,
 'l': 143506,
 'Ι': 163368,
 'Ο': 165845,
 'Ε': 168992,
 't': 180961,
 'α': 182496,
 's': 191732,
 'n': 193415,
 'o': 201537,
 'r': 203753,
 'Α': 221481,
 'i': 224925,
 'a': 241991,
 ' ': 297666,
 'e': 310282}

Text Length Distribution

In [34]:
sort_dict(check_text_len_dist(train_whole_corpus))

{25: 5353,
 1: 8455,
 24: 11209,
 23: 11591,
 22: 11981,
 21: 12380,
 20: 13163,
 19: 13622,
 18: 14231,
 17: 14898,
 16: 17485,
 15: 19675,
 2: 20368,
 14: 23165,
 13: 28221,
 3: 34572,
 12: 35972,
 11: 45896,
 4: 46810,
 10: 56910,
 5: 61800,
 9: 67119,
 6: 72685,
 8: 75181,
 7: 77258}

## Validation Set

In [41]:
dataset_generation(validation_aug_size, greek_valid, eng_valid,'validate_corpus.txt', print_only=False)

In [42]:
valid_whole_corpus = pd.read_csv('validate_corpus.txt', sep="\t", header=None, quoting=csv.QUOTE_NONE)[0]
valid_check_char_in_dict, valid_wordCount = check_dataset_char_in_dict(valid_whole_corpus)

Check characters are not in the corpus

In [43]:
valid_check_char_in_dict

set()

Word Count Distribution

In [44]:
sort_dict(valid_wordCount)

{'ϱ': 240,
 'ϑ': 243,
 'Έ': 249,
 'ϰ': 252,
 'Ώ': 262,
 'Ή': 269,
 'Ό': 270,
 'Ύ': 274,
 'ΰ': 278,
 'Ά': 278,
 'ϐ': 283,
 'Ί': 283,
 'ϋ': 285,
 'Ϋ': 331,
 'ϊ': 467,
 'Ϊ': 537,
 'Q': 771,
 'Z': 897,
 'X': 907,
 '4': 1181,
 '6': 1196,
 '2': 1198,
 '$': 1210,
 '`': 1212,
 '9': 1218,
 '^': 1228,
 '~': 1232,
 '5': 1236,
 '@': 1241,
 '%': 1244,
 '1': 1260,
 '8': 1266,
 'q': 1268,
 '#': 1279,
 '\\': 1280,
 '{': 1283,
 '7': 1291,
 '0': 1291,
 '3': 1292,
 '}': 1294,
 '=': 1305,
 '+': 1317,
 'ψ': 1368,
 'Ψ': 1369,
 '&': 1372,
 '|': 1438,
 '<': 1460,
 '>': 1488,
 '_': 1502,
 '*': 1512,
 'j': 1562,
 'Y': 1584,
 ']': 1722,
 'J': 1835,
 '[': 1872,
 ';': 2437,
 '/': 2440,
 'V': 2636,
 'z': 2646,
 '?': 2661,
 '!': 2747,
 'K': 2837,
 'ζ': 2919,
 'Ζ': 2949,
 'U': 3051,
 'x': 3118,
 'Ξ': 3248,
 'ξ': 3308,
 'W': 3453,
 '"': 3723,
 'ώ': 3956,
 'F': 4451,
 'G': 4478,
 "'": 4537,
 'H': 4831,
 ':': 5089,
 'β': 5129,
 ')': 5134,
 'Β': 5181,
 'ή': 5239,
 '(': 5441,
 'O': 5995,
 'L': 6079,
 'ύ': 6120,
 'φ': 6186,
 'Θ': 6310,
 'B': 6311,
 'θ': 6348,
 'χ': 6350,
 'Φ': 6453,
 'Χ': 6459,
 'w': 6674,
 'D': 6694,
 'N': 6697,
 '-': 6936,
 'ω': 7185,
 'ό': 7239,
 'I': 7410,
 'P': 7504,
 'έ': 7672,
 'v': 7677,
 'M': 7731,
 'k': 7826,
 'R': 8219,
 'T': 8283,
 'f': 8448,
 'E': 8989,
 'ί': 9381,
 'Γ': 9469,
 'γ': 9540,
 'δ': 9886,
 'Δ': 10000,
 'ά': 10118,
 'C': 10311,
 'b': 10917,
 'ς': 10977,
 'A': 11014,
 'Ω': 11243,
 'y': 11804,
 'S': 12436,
 'η': 12505,
 '.': 14617,
 ',': 15435,
 'υ': 15667,
 'Λ': 15789,
 'λ': 15872,
 'g': 16208,
 'h': 16783,
 'p': 17252,
 'μ': 17954,
 'Μ': 17963,
 'Η': 18010,
 'm': 19702,
 'Π': 20335,
 'π': 20475,
 'κ': 20850,
 'Υ': 21215,
 'Κ': 21301,
 'u': 22386,
 'd': 22397,
 'σ': 23792,
 'c': 25924,
 'ρ': 25937,
 'Ρ': 25942,
 'Ν': 26960,
 'ν': 27094,
 'τ': 28579,
 'Τ': 28702,
 'ι': 31548,
 'ο': 34263,
 'ε': 34423,
 'Σ': 34696,
 'l': 35922,
 'Ι': 40880,
 'Ο': 41037,
 'Ε': 43223,
 't': 45473,
 'α': 45854,
 's': 47635,
 'n': 47962,
 'o': 50074,
 'r': 51019,
 'Α': 55060,
 'i': 56099,
 'a': 60483,
 ' ': 74855,
 'e': 77706}

Text Length Distribution

In [45]:
sort_dict(check_text_len_dist(valid_whole_corpus))

{25: 1321,
 1: 2149,
 24: 2733,
 23: 2871,
 22: 3005,
 21: 3132,
 20: 3338,
 19: 3475,
 18: 3574,
 17: 3786,
 16: 4309,
 15: 4933,
 2: 5103,
 14: 5809,
 13: 7068,
 3: 8460,
 12: 8980,
 11: 11522,
 4: 11783,
 10: 14298,
 5: 15438,
 9: 16872,
 6: 17971,
 8: 18807,
 7: 19263}

# Combine Dataset With Same Tag

Run this part after running `main.py` to generate the ocr images.

In [77]:
def merge_same_tag(input_txt, output_txt):
    dataset = pd.read_csv(input_txt, sep="\t", header=None, names=['path', 'text'], quoting=csv.QUOTE_NONE)
    dataset_merge = pd.DataFrame(
        dataset
        .groupby(dataset['text'])['path']
        .apply(lambda x: '[%s]' % ', '.join('"folder/' + x + '"'))
    )
    dataset_merge = dataset_merge.reset_index(drop=False)
    dataset_merge = dataset_merge[["path", "text"]]
    with open(output_txt, 'w') as z:
        for i in range(len(dataset_merge)):
            path, text = dataset_merge.iloc[i]['path'], dataset_merge.iloc[i]['text']
            append_text = path + '\t' + text
            z.write(append_text)
            z.write('\n')

In [78]:
merge_same_tag("train_pre.txt", "train.txt")

## Add Dataset For Robust Training

In [38]:
def dataset_generation_v3(n_sample, greek_text, eng_text, output_txt, print_only=False):
    
    with open(output_txt, 'w') as z:

        for i in range(round(n_sample * 0.7)):
            
            text = ''
            
            # token length between 2 - 4
            
            n_token = random.randint(2, 4)
            
            for i in range(n_token):
                
                # whether symbol will add to token or not with 0.5 prob
                
                symbol = random.randint(0,1)
                
                # whether greek will be chosen or not with 0.1 prob
                
                lang_select = random.random()
                
                if lang_select > 0.1:
                    append_text = greek_text.iloc[random.randint(0,len(greek_text)-1)][0]
                else:
                    append_text = eng_text.iloc[random.randint(0,len(eng_text)-1)][0]
                
                if symbol:
                    append_symbol = symbol_dict.iloc[random.randint(0,len(symbol_dict)-1)][0]
                    
                    # the symbol will be added to the front or to the end of the token
                    
                    sym_loc_head = random.randint(0,1)
                    
                    if sym_loc_head:
                        append_text = append_symbol + append_text

                if i == 0:
                    text = append_text
                else:
                    text = append_text + ' ' + text
                    
            string = text
            
            if_add_dict_char = random.randint(0,1)
            
            # Add dictionay char to dataset in order to make all char inside
            
            if if_add_dict_char:
            
                add_dict_char_loc = random.randint(0,1)

                add_dict_char = dictionary.iloc[random.randint(0,len(dictionary)-1)][0]

                if add_dict_char_loc:
                    append_text = add_dict_char + string
                else:
                    append_text = string + add_dict_char
                    
            else:
                append_text = string
                
            append_text = append_text[0:min(25, len(text))]
                            
            if not print_only:
                z.write(append_text)
                z.write('\n')
            else:
                print(append_text)      

        for i in range(round(n_sample * 0.3)):
            
            text = ''

            # token length between 2 - 4

            n_token = random.randint(2, 4)

            for i in range(n_token):

                # whether symbol will add to token or not with 0.5 prob

                symbol = random.randint(0,1)

                append_text = eng_text.iloc[random.randint(0,len(eng_text)-1)][0]

                if symbol:
                    append_symbol = symbol_dict.iloc[random.randint(0,len(symbol_dict)-1)][0]

                    # the symbol will be added to the front or to the end of the token

                    sym_loc_head = random.randint(0,1)

                    if sym_loc_head:
                        append_text = append_symbol + append_text

                if i == 0:
                    text = append_text
                else:
                    text = append_text + ' ' + text

            string = text

            if_add_dict_char = random.randint(0,1)

            # Add dictionay char to dataset in order to make all char inside

            if if_add_dict_char:

                add_dict_char_loc = random.randint(0,1)

                add_dict_char = dictionary.iloc[random.randint(0,len(dictionary)-1)][0]

                if add_dict_char_loc:
                    append_text = add_dict_char + string
                else:
                    append_text = string + add_dict_char

            else:
                append_text = string

            append_text = append_text[0:min(25, len(text))]

            if not print_only:
                z.write(append_text)
                z.write('\n')
            else:
                print(append_text)

In [46]:
dataset_generation_v3(800000, greek_train, eng_train, 'train_v3_gen.txt', print_only=False)
dataset_generation_v3(200000, greek_valid, eng_valid, 'valid_v3_gen.txt', print_only=False)

In [47]:
whole_corpus = pd.read_csv('train_v3_gen.txt', sep="\t", header=None, quoting=csv.QUOTE_NONE)[0]
check_char_in_dict, wordCount = check_dataset_char_in_dict(whole_corpus)
check_char_in_dict, sort_dict(wordCount), sort_dict(check_text_len_dist(whole_corpus))

(set(),
 {'Ώ': 1154,
  'Ύ': 1174,
  'Έ': 1174,
  'ϱ': 1191,
  'Ή': 1210,
  'ϰ': 1221,
  'ϑ': 1227,
  'ΰ': 1235,
  'Ό': 1244,
  'Ί': 1245,
  'Ά': 1250,
  'ϐ': 1275,
  'ϋ': 1508,
  'Ϋ': 1538,
  'Ϊ': 3500,
  'ϊ': 3631,
  'Q': 4819,
  'Z': 5334,
  'X': 5515,
  'q': 7732,
  'j': 9536,
  'Y': 9767,
  'J': 10741,
  '1': 13825,
  '5': 13895,
  '^': 13910,
  '4': 13922,
  '2': 13938,
  '7': 13980,
  '6': 13995,
  '3': 14050,
  '`': 14050,
  '8': 14052,
  'Ψ': 14053,
  '}': 14065,
  '0': 14081,
  '9': 14086,
  '%': 14114,
  '~': 14168,
  'ψ': 14212,
  '\\': 14247,
  '#': 14357,
  '@': 14429,
  '$': 14535,
  '{': 14635,
  '&': 14714,
  '+': 14770,
  '=': 14886,
  '<': 15286,
  '>': 15499,
  '|': 15730,
  '_': 15803,
  '*': 15881,
  'V': 16355,
  'K': 16974,
  'z': 17210,
  ']': 17358,
  '[': 18393,
  'x': 18433,
  'U': 18780,
  'W': 20896,
  '/': 21771,
  ';': 21775,
  '?': 21921,
  '!': 23414,
  'G': 28031,
  'F': 28090,
  '"': 29743,
  'Ζ': 30166,
  'ζ': 30259,
  'H': 30279,
  'Ξ': 31882,
  'ξ': 32244,
  "'": 35073,
  'O': 37259,
  ':': 37350,
  ')': 38284,
  'L': 39145,
  'B': 40028,
  '(': 40176,
  'N': 40501,
  'D': 40543,
  'w': 41266,
  'ώ': 41593,
  'I': 45967,
  'P': 46857,
  'v': 48149,
  'M': 48600,
  'k': 50212,
  'R': 50587,
  '-': 50870,
  'β': 51543,
  'T': 51680,
  'Β': 52016,
  'f': 54319,
  'E': 55921,
  'ή': 58927,
  'χ': 63888,
  'Φ': 64019,
  'Χ': 64128,
  'C': 64286,
  'φ': 64994,
  'Θ': 66200,
  'θ': 66255,
  'ύ': 67429,
  'A': 68431,
  'b': 69374,
  'y': 74002,
  'ω': 77177,
  'S': 79160,
  'ό': 79281,
  'έ': 86435,
  '.': 97992,
  'Δ': 100058,
  ',': 100477,
  'Γ': 100508,
  'δ': 101205,
  'g': 102375,
  'γ': 102763,
  'ί': 104577,
  'ά': 107672,
  'h': 109191,
  'p': 109335,
  'Ω': 117844,
  'm': 124258,
  'ς': 130372,
  'η': 142865,
  'u': 143473,
  'd': 143861,
  'c': 165877,
  'υ': 167550,
  'Λ': 167818,
  'λ': 167853,
  'μ': 195009,
  'Μ': 195549,
  'Η': 201710,
  'π': 204431,
  'Π': 205864,
  'Κ': 224525,
  'κ': 225485,
  'l': 229819,
  'Υ': 231963,
  'σ': 255028,
  'Ρ': 272394,
  'ρ': 274191,
  't': 289267,
  'ν': 296407,
  'Ν': 297112,
  's': 303655,
  'n': 308088,
  'Τ': 313663,
  'τ': 316157,
  'o': 321589,
  'r': 325353,
  'ι': 353084,
  'i': 361222,
  'ε': 377850,
  'ο': 380171,
  'Σ': 383625,
  'a': 387452,
  'Ι': 453476,
  'Ο': 456319,
  'Ε': 460564,
  'α': 486665,
  'e': 495089,
  'Α': 592977,
  ' ': 1374356},
 {4: 3,
  5: 9,
  6: 62,
  7: 290,
  8: 848,
  9: 1936,
  10: 3918,
  11: 6345,
  12: 9799,
  13: 13872,
  14: 18439,
  15: 22422,
  16: 25759,
  24: 27281,
  23: 27500,
  17: 28564,
  22: 28657,
  21: 28759,
  20: 29946,
  18: 30035,
  19: 30090,
  25: 465466})

In [5]:
def merge_same_tag(input_txt, output_txt):
    dataset = pd.read_csv(input_txt, sep="\t", header=None, names=['path', 'text'], quoting=csv.QUOTE_NONE)
    dataset_merge = pd.DataFrame(
        dataset
        .groupby(dataset['text'])['path']
        .apply(lambda x: '[%s]' % ', '.join('"' + x + '"'))
    )
    dataset_merge = dataset_merge.reset_index(drop=False)
    dataset_merge = dataset_merge[["path", "text"]]
    with open(output_txt, 'w') as z:
        for i in range(len(dataset_merge)):
            path, text = dataset_merge.iloc[i]['path'], dataset_merge.iloc[i]['text']
            append_text = path + '\t' + text
            z.write(append_text)
            z.write('\n')
            
merge_same_tag("train_pre.txt", "train.txt")